In [23]:
from pucknight import pn_queries

import datetime
import pandas as pd
import numpy as np
from hockey_rink import NHLRink
import matplotlib.pyplot as plt

games_df = pn_queries.api_games(season='2021-22', game_type='Regular Season')

In [8]:
gd = datetime.date(2022, 1, 31)
games_df[games_df.game_date >= gd]\
[['game_date','home_team','home_score','away_team','away_score','venue', 'venue_city']]

,game_date,home_team,home_score,away_team,away_score,venue,venue_city
684,2022-01-31,Avalanche,4,Sabres,1,Ball Arena,Denver
685,2022-01-31,Islanders,3,Wild,4,UBS Arena,Elmont
686,2022-01-31,Stars,6,Bruins,1,American Airlines Center,Dallas
687,2022-01-31,Canadiens,3,Blue Jackets,6,Bell Centre,Montréal

In [14]:
game_id = 2021020789
lineups = pn_queries.api_lineups(game_id)
sl = pn_queries.api_s_lines(game_id)
gl = pn_queries.api_g_lines(game_id)
events = pn_queries.game_events(game_id)
home = games_df[games_df['game_id']==game_id].home_team.iloc[0]
away = games_df[games_df['game_id']==game_id].away_team.iloc[0]
events = pn_queries.game_events(game_id)

In [16]:
lineups[lineups['team_name']==home]\
[['team_name','jersey_num','playername','pos_abbv']].sort_values(['team_name','pos_abbv','jersey_num'])

   team_name jersey_num         playername pos_abbv
34     Stars         11    Luke Glendening        C
39     Stars         12        Radek Faksa        C
32     Stars         16       Joe Pavelski        C
28     Stars         24        Roope Hintz        C
40     Stars         40     Jacob Peterson        C
29     Stars         64        Tanner Kero        C
24     Stars         91       Tyler Seguin        C
23     Stars          2      Jani Hakanpaa        D
35     Stars         20         Ryan Suter        D
30     Stars         23        Esa Lindell        D
26     Stars          3     John Klingberg        D
27     Stars          4     Miro Heiskanen        D
37     Stars         44        Joel Hanley        D
31     Stars         29     Jake Oettinger        G
36     Stars         14     Jamie Benn (C)       LW
33     Stars         21    Jason Robertson       LW
41     Stars         25     Joel Kiviranta       LW
38     Stars          5      Andrej Sekera      N/A
42     Stars         34     Denis Gurianov       RW
25     Stars         47  Alexander Radulov       RW

In [21]:
sl[sl['team_name']==home]\
[['team_name','playername','jersey_num','pos_abbv','toi','goals','assists']]\
.sort_values(['goals','assists','toi'], ascending=[False,False,False])

,team_name,playername,jersey_num,pos_abbv,toi,goals,assists
35,Stars,Tyler Seguin,91,C,0 days 00:15:11,2,1
23,Stars,Jamie Benn,14,LW,0 days 00:14:18,1,1
28,Stars,Roope Hintz,24,C,0 days 00:18:11,1,0
33,Stars,Alexander Radulov,47,RW,0 days 00:14:11,1,0
21,Stars,Luke Glendening,11,C,0 days 00:10:59,1,0
30,Stars,Denis Gurianov,34,RW,0 days 00:16:57,0,2
20,Stars,Miro Heiskanen,4,D,0 days 00:25:16,0,1
27,Stars,Esa Lindell,23,D,0 days 00:21:07,0,1
19,Stars,John Klingberg,3,D,0 days 00:19:21,0,1
26,Stars,Jason Robertson,21,LW,0 days 00:19:16,0,1
25,Stars,Ryan Suter,20,D,0 days 00:25:07,0,0
24,Stars,Joe Pavelski,16,C,0 days 00:20:24,0,0
18,Stars,Jani Hakanpaa,2,D,0 days 00:16:02,0,0
31,Stars,Jacob Peterson,40,C,0 days 00:13:52,0,0
22,Stars,Radek Faksa,12,C,0 days 00:13:17,0,0
29,Stars,Joel Kiviranta,25,LW,0 days 00:12:47,0,0
34,Stars,Tanner Kero,64,C,0 days 00:11:10,0,0
32,Stars,Joel Hanley,44,D,0 days 00:10:34,0,0

In [22]:
gl[gl['team_name']==home]\
[['team_name', 'playername','jersey_num','pos_abbv','toi','shots','saves']]

  team_name      playername jersey_num pos_abbv             toi  shots  saves
2     Stars  Jake Oettinger         29        G 0 days 00:59:44     26     25